a:hover {
  color: #F1AD63; }

.clear-fix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.service-head {
  padding: 20px 10px;
  color: #000000;
  font-size: 14px; }

.service-contain {
  padding: 0 10px; }
  .service-contain .service-list {
    margin-bottom: 10px; }
  .service-contain .service-title {
    display: inline-block;
    height: 30px;
    margin-bottom: 5px;
    padding: 0 10px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 30px;
    background-color: #000000; }
  .service-contain .service-intro {
    color: #999999;
    font-size: 14px;
    line-height: 2; }
    .service-contain .service-intro p {
      line-height: inherit; }
    .service-contain .service-intro ul, .service-contain .service-intro ol {
      padding: 0 20px;
      color: #999999;
      font-size: 14px;
      line-height: 2;
      list-style: disc; }

.coo-company-contain .iframe-video-contain {
  width: 100%;
  padding: 0 10px 10px 10px; }

.coo-company-content {
  padding: 0 10px 20px 10px;
  border-bottom: 1px solid #DCDCDC;
  overflow: hidden; }
  .coo-company-content .company-logo-contain {
    z-index: 2; }
  .coo-company-content .logo-list {
    position: relative;
    display: block;
    padding: 0 0 10px 0; }
    .coo-company-content .logo-list img {
      display: block;
      width: 100%; }
    .coo-company-content .logo-list .line, .coo-company-content .logo-list .triangle {
      position: absolute; }
    .coo-company-content .logo-list .line {
      bottom: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 0;
      border-bottom: 1px solid #DCDCDC; }
    .coo-company-content .logo-list .triangle {
      left: 50%;
      bottom: 0;
      z-index: 4;
      width: 12px;
      height: 12px;
      background-color: #FFFFFF;
      border-left: 1px solid #F1AD63;
      border-bottom: 1px solid #F1AD63;
      opacity: 0;
      transform: translate(-50%, 50%) rotate(-45deg);
      -webkit-transform: translate(-50%, 50%) rotate(-45deg); }
    .coo-company-content .logo-list.active-nav .line {
      border-color: #F1AD63; }
    .coo-company-content .logo-list.active-nav .triangle {
      opacity: 1; }
  .coo-company-content .company-intro-contain {
    margin-top: 20px;
    overflow: hidden; }
    .coo-company-content .company-intro-contain .intro-list {
      padding: 0 10px; }
      .coo-company-content .company-intro-contain .intro-list .intro-content {
        color: #999999;
        font-size: 14px;
        text-align: center;
        line-height: 2; }
  .coo-company-content .all-logo-contain {
    width: 100%; }
    .coo-company-content .all-logo-contain img {
      width: 100%; }
  .coo-company-content .company-logo-contain, .coo-company-content .company-intro-contain {
    display: none !important; }

.honor-swiper {
  padding: 0 10px;
  overflow: hidden; }
  .honor-swiper .honor-list {
    display: block;
    overflow: hidden; }
    .honor-swiper .honor-list .img-contain {
      display: block; }
      .honor-swiper .honor-list .img-contain img {
        display: block;
        width: 100%; }
    .honor-swiper .honor-list .text-contain {
      display: block;
      padding: 10px; }
      .honor-swiper .honor-list .text-contain h5 {
        margin-bottom: 10px;
        color: #333333;
        font-size: 14px;
        line-height: 1.2; }
      .honor-swiper .honor-list .text-contain p {
        color: #999999;
        font-size: 12px;
        line-height: 1; }
      .honor-swiper .honor-list .text-contain .badge {
        margin-top: 10px;
        color: black;
        font-size: 10px;
        line-height: 1; }
    .honor-swiper .honor-list:link, .honor-swiper .honor-list:visited, .honor-swiper .honor-list:hover, .honor-swiper .honor-list:active, .honor-swiper .honor-list:focus {
      color: inherit; }

.location-swiper {
  padding: 10px;
  overflow: hidden; }
  .location-swiper .location-list {
    display: block;
    overflow: hidden;
    text-align: center; }
    .location-swiper .location-list .location-name {
      display: inline-block;
      height: 30px;
      margin-bottom: 5px;
      padding: 0 10px;
      color: #FFFFFF;
      font-size: 14px;
      line-height: 30px;
      background-color: #000000; }
    .location-swiper .location-list .contact-method p {
      color: #999999;
      font-size: 12px;
      line-height: 2; }
    .location-swiper .location-list .contact-method ul, .location-swiper .location-list .contact-method ol {
      padding: 0 20px;
      color: #999999;
      font-size: 12px;
      line-height: 2;
      /*list-style: disc;*/ }
  .location-swiper .location-pagination {
    text-align: center; }
    .location-swiper .location-pagination .swiper-pagination-bullets, .location-swiper .location-pagination .swiper-pagination-bullet {
      margin: 0 3px; }
    .location-swiper .location-pagination .swiper-pagination-bullet-active {
      background-color: #F1AD63; }
