a:hover {
  color: #F1AD63; }

.clear-fix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.design-classify-container .design-classify-content .design-classify-list {
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DCDCDC; }
  .design-classify-container .design-classify-content .design-classify-list:last-child {
    border: none; }
  .design-classify-container .design-classify-content .design-classify-list .title-contain {
    position: relative;
    padding: 10px 0; }
    .design-classify-container .design-classify-content .design-classify-list .title-contain:after {
      content: '';
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .design-classify-container .design-classify-content .design-classify-list .title-contain h4 {
      display: inline-block;
      float: left;
      color: #000000;
      font-size: 18px; }
    .design-classify-container .design-classify-content .design-classify-list .title-contain .swiper-pagination-case.swiper-pagination-fraction {
      display: inline-block;
      float: right;
      width: auto; }
      .design-classify-container .design-classify-content .design-classify-list .title-contain .swiper-pagination-case.swiper-pagination-fraction span {
        color: #000000;
        font-size: 16px; }
    .design-classify-container .design-classify-content .design-classify-list .title-contain .more {
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%); }
      .design-classify-container .design-classify-content .design-classify-list .title-contain .more i {
        display: block;
        width: 18px;
        height: 18px;
        background: url("../images/arrow-right.png") no-repeat center/18px; }
  .design-classify-container .design-classify-content .design-classify-list .case-list:link, .design-classify-container .design-classify-content .design-classify-list .case-list:visited, .design-classify-container .design-classify-content .design-classify-list .case-list:hover, .design-classify-container .design-classify-content .design-classify-list .case-list:active, .design-classify-container .design-classify-content .design-classify-list .case-list:focus {
    color: inherit; }
  .design-classify-container .design-classify-content .design-classify-list .case-list .case-img {
    display: block;
    width: 100%; }
  .design-classify-container .design-classify-content .design-classify-list .case-list .case-title {
    width: 100%;
    padding: 15px;
    color: #333333;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.case-detail-container {
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
  background-color: #FFFFFF; }
  .case-detail-container .case-title {
    margin-bottom: 15px;
    color: #333333; }
    .case-detail-container .case-title h1 {
      font-size: 22px;
      text-align: center; }
    .case-detail-container .case-title h6 {
      margin-top: 10px;
      color: #999999;
      font-size: 14px;
      text-align: center; }
  .case-detail-container .case-badge {
    margin-bottom: 30px;
    color: #F1AD63;
    font-size: 12px; }
  .case-detail-container .case-short-info {
    margin-bottom: 15px;
    color: #999999;
    font-size: 16px;
    line-height: 1.5; }
  .case-detail-container .case-detail-content {
    width: 100%;
    text-align: justify; }
    .case-detail-container .case-detail-content h1, .case-detail-container .case-detail-content h2, .case-detail-container .case-detail-content h3, .case-detail-container .case-detail-content h4 {
      /*color: #000000;*/
      line-height: 1.5; }
    .case-detail-container .case-detail-content h1 {
      font-size: 22px; }
    .case-detail-container .case-detail-content h2 {
      font-size: 20px; }
    .case-detail-container .case-detail-content h3 {
      font-size: 18px; }
    .case-detail-container .case-detail-content h4 {
      font-size: 16px; }
    .case-detail-container .case-detail-content strong {
      font-weight: bolder; }
    .case-detail-container .case-detail-content p {
      width: 100%;
      /*margin-bottom: .5em;*/
      color: #999999;
      font-size: 14px;
      line-height: 1.5; }
    .case-detail-container .case-detail-content img {
      width: auto;
      max-width: 100%; }
    .case-detail-container .case-detail-content .iframe-video-contain {
      width: 100%; }

.recommend-list-contain .common-list-contain {
  padding-top: 0 !important; }
  .recommend-list-contain .common-list-contain .common-swiper-list .text-contain {
    padding: 15px; }
    .recommend-list-contain .common-list-contain .common-swiper-list .text-contain h5 {
      margin-bottom: 0; }

.none-zoom-container, .qiushi-pingmian-container {
  background-color: #FFFFFF; }

.case-page-container .case-list-contain {
  width: 100%;
  background-color: #FFFFFF; }
.case-page-container .case-list {
  width: 100%;
  padding: 20px 10px;
  border-bottom: 1px solid #DCDCDC;
  display: box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -ms-flex-align: center;
      align-items: center; }
  .case-page-container .case-list .case-info-contain {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 50%;
    -ms-flex: 1;
    flex: 1; }
    .case-page-container .case-list .case-info-contain .info-title {
      margin-bottom: 5px;
      color: #000000;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .case-page-container .case-list .case-info-contain .info-text {
      color: #999999;
      font-size: 12px;
      line-height: 1.5; }
  .case-page-container .case-list .case-img-contain {
    padding-right: 10px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 50%;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden; }
    .case-page-container .case-list .case-img-contain img {
      display: block;
      width: 100%; }

.question-show-contain {
  display: none;
  /*margin-bottom: 20px;*/
  padding: 10px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DCDCDC; }
  .question-show-contain .question-list {
    display: block;
    margin: 0 auto;
    padding: 10px 0; }
    .question-show-contain .question-list .question-title {
      color: #000000;
      font-size: 14px;
      line-height: 1.5;
      overflow: hidden;
      overflow-y: visible;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .question-show-contain .question-list .questioner-info {
      color: #999999;
      font-size: 12px;
      line-height: 1.5; }
    .question-show-contain .question-list:last-child {
      border: none; }
  .question-show-contain .more-btn {
    color: #F1AD63;
    font-size: 12px; }
    .question-show-contain .more-btn:hover, .question-show-contain .more-btn:active {
      color: #f7a143; }
