a:hover {
  color: #F1AD63; }

.clear-fix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.common-btn, a.common-btn {
  display: block;
  width: 160px;
  height: 30px;
  margin: 0 auto;
  color: #000000;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  background-color: #F1AD63;
  border: none; }
  .common-btn:hover, .common-btn:active, a.common-btn:hover, a.common-btn:active {
    background-color: #f7a143; }

.design-QA-container {
  margin-bottom: 20px;
  border-bottom: 1px solid #DCDCDC; }

.ask-question-contain, .job-get-in-container {
  position: relative;
  width: 100%; }
  .ask-question-contain .ask-btn, .job-get-in-container .ask-btn {
    position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: 4;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .ask-question-contain .img-mask, .job-get-in-container .img-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: .5; }
    .ask-question-contain .img-mask.black, .job-get-in-container .img-mask.black {
      background-color: #000000; }
  .ask-question-contain .bg-img, .job-get-in-container .bg-img {
    display: block;
    width: 100%; }
  .ask-question-contain .intro-contain, .job-get-in-container .intro-contain {
    position: absolute;
    left: 50%;
    bottom: 50%;
    z-index: 3;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .ask-question-contain .intro-contain h5, .job-get-in-container .intro-contain h5 {
      color: #FFFFFF;
      font-size: 18px;
      text-align: center; }

.question-show-contain {
  padding: 10px;
  background-color: #FFFFFF; }
  .question-show-contain .question-list {
    display: block;
    margin: 0 auto;
    padding: 10px 0; }
    .question-show-contain .question-list .question-title {
      color: #000000;
      font-size: 14px;
      line-height: 1.5;
      overflow: hidden;
      overflow-y: visible;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .question-show-contain .question-list .questioner-info {
      color: #999999;
      font-size: 12px;
      line-height: 1.5; }
    .question-show-contain .question-list:last-child {
      border: none; }
  .question-show-contain .more-btn {
    color: #F1AD63;
    font-size: 12px; }
    .question-show-contain .more-btn:hover, .question-show-contain .more-btn:active {
      color: #f7a143; }

.cooperation-form-container {
  padding: 20px 0;
  background-color: #000000; }
  .cooperation-form-container .form-contain {
    width: 80%;
    margin: 0 auto; }
