a:hover {
  color: #F1AD63; }

.clear-fix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
