@import "bootstrap.css";
@import "base.css";
/*******标题栏************/
body{
  padding-top: 1.1112rem;
}

img{
  vertical-align: top;
}

header{
  background-color: #000000;
  height: 1.1112rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100
}

header .logo{
  width: 2.2224rem;
  position: absolute;
  top: 0;
  left: 0;
}

header .title{
  margin-left: 2.2224rem;
  margin-right: 2.2224rem;
  text-align: center;
  line-height: 1.1112rem;
  color:#ffffff;
  font-size: 0.4167rem;
  font-weight: bold;
  letter-spacing: 2px;
}

header .searchbox,header .menubox{
  width: 1.1112rem;
  height: 1.1112rem;
  position: absolute;
  top: 0;
}

header .searchbox{
  right: 1.1112rem;
}

header .search-wrap{
  position: absolute;
  top: 0.1556rem;
  left: 100%;
  transition: all ease-in-out .5s;
  z-index: 4;
}

header .search-wrap form{
  position: relative;
  margin-right: 1rem;
  margin-left: 0;
  overflow: hidden;
  height: 0.8rem;
}

header .search-wrap .qvxiao{
  width: 1rem;
  line-height: 0.8rem;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color:#ffffff;
  text-align: center;
  height: 0.8rem;
  display: none;
}

header .search-wrap.active{
  left: 2.2224rem;
  right: 1.1112rem;
}

header .search-wrap .inputcss{
  height: 0.8rem;
  border: 1px solid #ffffff;
  border-radius: 4px;
  vertical-align: top;
  padding: 5px;
  position: absolute;
  width: 100%;
}

header .search-wrap .btn-search{
  background: url(../images/search_black_icon.png) center center no-repeat;
  background-size:contain;
  width: 0.8rem;
  height: 0.8rem;
  border: none;
  position: absolute;
  right: 0;top: 0;
  display: block;
  z-index: 3;
}

header .searchbox .search,header .menubox .menu{
  width: 1.1112rem;
  height: 100%;
  display: block;
}

header .searchbox .search{
  background: url(../images/search_icon.png) center center no-repeat;
  background-size: cover;
}

header .menubox{
  right: 0;
  z-index: 5;
}

header .menubox .menu{
  background: url(../images/menu_icon.png) center center no-repeat;
  background-size: cover;
}

.banner{
  position: fixed;
  top: 1.1112rem;
  z-index: 0;
}

.banner-mask{
  position: relative;
  margin-top: 1.1112rem;
  z-index:-1;
}

.workslist{
  position: relative;
  z-index: 2;
}
